@{
    ViewBag.Title = "About";
}
<h2>About the developer</h2>
<h3>Alexis Terblanche</h3>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-7">
            <h3>Bio</h3>
            <p class="lead">
             Alexis Terblanche is a second year BCom Informatics student at the University of Pretoria. She is a part of the ENACTUS UP society and forms part of the Eco-Swift car wash team.
                She also plays for the Tuks Ladies Seconds hockey team, The Redsocks. She represented Norhtern Guateng at the U21 provincial tournament for hockey in April of 2022.
                She stays in Asterhof Ladies Residence and has stayed there since her first year in 2021.
            </p>

        </div>

        <div class="col-md-5">
            <h3>Alexis Terblanche</h3>

            <!--Insert picture of self here :) -->


        </div>
    </div>
</div>
