@{
    ViewBag.Title = "Home Page";
}

<h1>Homework Assignment 3</h1>
<h2>Media Uploading system</h2>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-8">
            <h3>Description</h3>
            <p class="lead">
                This is a basic media uploading system where the user is able to upload files, images and videos. The user can select a file, image or video from their computer and upload it.
                Users can then also view all files, images and videos that have been previously uploaded. They will also be able to delete and download the files, images or videos.
            </p>
            <!--  <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>  This button is not needed anymore-->
        </div>

        <div class="col-md-4">
            <h3>Option Selection</h3>


        </div>
    </div>


</div>

